*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #E7E4F1;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding:30px 30px 50px 30px;
}




.box {
    border: 1px solid #ddd;
    padding: 10px; 
    border-radius: 20px;
    border: 7px solid #9093c088;
    box-shadow: 0 0 10px #9093c0; 
    text-align: center; 
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    height: 350px;
    perspective: 1000px;
}


.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.back {
    position: absolute;
    width: 80%;
    height: 80%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 22px;
    padding-top: 20px;
    
}



.back {
    transform: rotateY(180deg); /* Prepare the back side to be flipped */
    /* You might adjust the background here to differentiate from the front */
}

.box.is-flipped {
    transform: rotateY(180deg); /* Flip effect */
}


.box img {
    width: 100%; 
    height: auto;
}

.box .title {
    font-family: "coquette", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
    
}

a {
    padding: 10px 20px 10px 20px;
    background-color: #cfc9e1;
    color: #9093c0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "coquette", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 5px solid #9093c0;
    transition: background-color 0.3s ease;
    position: relative;
    top: 69px;
    left: 35px
    
}

a:hover {
    background-color: #f6f7d7;
}

#filter-controls {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    gap: 40px; 
}


#filter-controls button {
    padding: 10px 20px 10px 20px;
    background-color: #cfc9e1;
    color: #9093c0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "coquette", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 5px solid #9093c0;
    transition: background-color 0.3s ease;
}

#filter-controls button:hover {
    background-color: #f6f7d7;
}
.item-caption {
    font-family: "coquette", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;

}

.item-description {
    font-family: "coquette", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding-top: 20px;
}


