*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100vh;
}

.section-left, .section-right {
    flex: 1; /* This ensures both sections take up equal space */
    overflow-y: auto; 
    
}

body {
    width: 100vw;
    height: 100vh;
    background: url(../images/sky.gif);
    background-size: cover;
    background-position: right;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.image {
    max-width: 70%;
    max-height:auto;
    padding-top: 40px;
    animation: bounce 4.5s infinite; 
}




.button {
    height: 80px;
    width: 200px;
    background-color: #E7E4F1;
    color: #9093c0;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    font-family: "coquette", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 5px solid #9093c0;
    position: relative;
    transition: background-color 0.3s ease;
    z-index: 2;
}
.button:hover {
    background-color: #f6f7d7;
}


@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-60px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-60px); }
    /* Add a pause at the end of each cycle */
    95% { transform: translateY(0); }
}

#itemDisplay {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 25%;
    transform: translate(-50%, -50%); 
    width: 350px; 
    height: 450px;
    padding: 10px; 
    border-radius: 20px;
    border: 7px solid #9093c0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    text-align: center; 
    z-index: 10; 
}
h3 {
    font-family: "coquette", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
    z-index: 11
}
p {
    font-family: "coquette", sans-serif;
    font-weight: 400;
    font-size: 14px;
    z-index: 11
}


#itemDisplay img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 

}
@keyframes shake {
    0%, 100% { transform: translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateY(-10px); }
    20%, 40%, 60%, 80% { transform: translateY(10px); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.shake {
    animation: shake 0.85s cubic-bezier(.36,.07,.19,.97) both;
}

.fade-in {
    animation: fade-in 0.5s ease-out forwards;
}

.star {
    position: absolute;
    width: 20px; 
    height: 20px; 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    will-change: transform, opacity;
  }
  
.dollar-bill {
    width: 50px; 
    height: auto;
    position: absolute;
    will-change: transform, opacity; 
}

#collectionCounter {
    font-family: "coquette", sans-serif;
    font-size: 100px;
    font-weight: 800;
    color: #E7E4F1;
    padding-top: 30px;
    
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates as many columns as possible with a minimum width of 200px */
    gap: 30px;
    padding: 30px;
}



.box {
    border: 1px solid #ddd;
    padding: 10px; 
    border-radius: 20px;
    border: 7px solid #9093c088;
    box-shadow: 0 0 10px #9093c0; 
    text-align: center; 
    width: 200px; 
    height: 300px; 
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    perspective: 1000px;
}




.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
}

.front {
    padding-top: 10px;
    padding-right: 10px;
}

.back {
    padding: 40px 0px 0px 20px;
    transform: rotateY(180deg);
}

.box.is-flipped {
    transform: rotateY(180deg); /* Perform flip */
}



.box img {
    width: 100%; 
    padding-left: -20px;
    height: auto;
}

.box .title {
    font-family: "coquette", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
    
}




#filter-controls {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    gap: 40px; 
}


#filter-controls button {
    padding: 10px 20px 10px 20px;
    background-color: #cfc9e1;
    color: #9093c0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "coquette", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: 5px solid #9093c0;
    transition: background-color 0.3s ease;
}

#filter-controls button:hover {
    background-color: #f6f7d7;
}
.item-caption {
    font-family: "coquette", sans-serif;
    font-weight: 700;
    font-size: 15px;

}

.item-description {
    font-family: "coquette", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding-top: 20px;
}



