* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #071b0d;
}

.text pre{
    width: 50%;
    color: aliceblue;
    font-family: "larken", sans-serif;
    font-weight: 100;
    font-style: normal;
}
   


